body{
    background-color : #c2c9d3;
}
.divcolor {
    cursor: pointer !important;
    display: inline-block;
    width: 150px;
    height : 50px;
    float: left;
    margin-bottom : 20px;
    margin-left:0px;
    margin-right:0px;
}